body {
  height: 100%; }
  body footer {
    background-color: #343a40; }
    body footer div a {
      font-size: 1.5rem;
      color: white; }
    body footer div a:hover {
      color: white;
      text-decoration: none;
      opacity: 0.6; }
