body {
    height: 100%;
        footer {
            background-color: #343a40;
            div {

                a {
                    font-size: 1.5rem;
                    color: white;
                }

                a:hover {
                    color: white;
                    text-decoration: none;
                    opacity:0.6;
                }
            }
        }
 }
