@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Muli&display=swap');

#curtain-box {
    background-image: url("../images/curtain.jpeg");
    height: 100vh;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

header > nav {
    font-family: 'Lobster', cursive !important;
}

#navvy {
    background-color: transparent !important;
}

#text-box {
    text-align: center;
    font-family: 'Lobster', cursive !important;
    color: #feeb00 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.4s;
    width: 40%;
}

h1 {
    font-family: 'Lobster', cursive !important;
}

h4 {
    font-family: 'Muli', sans-serif;
}

#about-us, #skills, #projects, #contact {
    height: 75px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes backgroundFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        background-color: rgba(255, 255, 255, 0.95);
        opacity: 1;
    }
}

@keyframes fadeOutOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes enlargeHover {
    0% {
        transform: scale(1.0);
    }

    100% {
        transform: scale(1.08);
    }
}

@keyframes enlargeHoverOut {
    0% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.0);
    }
}


.skill-image {
    width: 100px;
    height:100px;
}

    .skill-image:hover {
        animation-name: enlargeHover;
        animation-timing-function: ease-in;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

.modal {
    bottom: 50%;
}

.interactive-nav {
    background-color: var(--dark) !important;
}

#profile-picture {
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.4s;
}

.projectBox {
    font-family: 'Muli', sans-serif;
    animation-name: enlargeHoverOut;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

    .projectBox:hover {
        animation-name: enlargeHover;
        animation-timing-function: ease-in;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;
    }

.cardbody {
    top: 0;
    width: 95%;
    left: 2.5%;
    height: 100%;
    display: flex;
    align-items: center;
    animation-name: fadeOutOpacity;
    animation-timing-function: linear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
}

    .cardbody:hover {
        animation-name: backgroundFadeIn;
        animation-timing-function: linear;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        border-radius: 2%;
    }

.inner-container {
    width: 90%;
    margin: auto;
}

.project-row {
    width: 90%;
    margin: auto;
}

.card-img-top {
    height: 100%;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.37);
}

#profile-info {
    line-height: 1.6;
    font-size: 19px;
    padding: 45px 10px;
    font-family: 'Muli', sans-serif;
}

#profile-pic {
    width: 80%;
    border-radius: 5%;
}

form {
    font-family: 'Muli', sans-serif;
}

@media(max-width: 1000px) {
    #curtain-box {
        background-attachment:scroll;
        
    }
}

.nav-link {
    color: #feeb00 !important;
}