@page
@model Portfolio.Pages.Blog.IndexModel
@{
}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/base.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/layout.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/module.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/footer.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/blog.css?t=@DateTime.Now.Ticks" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background-color:#000a18;">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" id="nav-bard">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a asp-page="/Blog/index" class="nav-link">Blog</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/#skills" class="nav-link">Skills</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/#about-us" class="nav-link">About Me</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/#projects" class="nav-link">Projects</a>
                    </li>
                    <li class="navbar-item">
                        <a href="/#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <h1>Blog Posts</h1>
        <div class="container" id="mainbox">
            <div class="row">
                <ul>
                    <li>Automating GitHub push</li>
                </ul>
            </div>
        </div>
    </main>
</body>