@page
@model Portfolio.Pages.IndexModel
@{
}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato|Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/base.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/layout.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/module.css?t=@DateTime.Now.Ticks" type="text/css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="navvy">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="#" class="nav-link">Homepage</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">Blog</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">About Me</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="text-white text-center" id="box">
            <img src="~/images/curtain.jpeg" alt="background" id="index-background">
            <div id="text-box">
                <h1>Jin Woo Kim</h1>
                <p>Full-Stack Developer</p>
                <p>Seattle, WA</p>
            </div>
        </div>
    </header>
    <main>
        <div class="container" id="skills">
            <div class="row">
                <img src="~/images/agile.png" alt="agile" class="col-2 mx-auto" />
                <img src="~/images/qa.png" alt="Test driven" class="col-2 mx-auto" />
                <img src="~/images/algorithm.png" alt="Data structure" class="col-2 mx-auto" />
                <img src="~/images/relation.png" alt="Database relation" class="col-2 mx-auto" />
            </div>
            <div class="row text-center my-3">
                <div class="col-2 mx-auto">
                    <h3>Agile</h3>
                    <p>Creating the webpage to meet the standard.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h3>Test Driven</h3>
                    <p>Create an application with test development.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h3>Data Structure</h3>
                    <p>Strong knowledge on data structure and algorithm.  Strong analytical mind set and critical thinking.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h2>SQL and Database</h2>
                    <p>Well understanding of SQL database and relation between each database.</p>
                </div>
            </div>
        </div>

    </main>


    @*bootstrap*@
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>