@page
@model Portfolio.Pages.IndexModel
@{
}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/base.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/layout.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/module.css?t=@DateTime.Now.Ticks" type="text/css" />

</head>

<body>
    <header>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="navvy">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" id="nav-bard">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="#skills" class="nav-link">Skills</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#about-us" class="nav-link">About Me</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#projects" class="nav-link">Projects</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="text-white text-center col-sm-12" id="box">
            <img src="~/images/curtain.jpeg" alt="background" id="index-background">
            <div id="text-box">
                <h1>Jin Woo Kim</h1>
                <p>Full-Stack Developer</p>
                <p>Seattle, WA</p>
            </div>
        </div>
    </header>
    <main>
        <div class="container" id="skills">
            <div class="row my-5">
                <img src="~/images/agile.png" alt="agile" class="col-md-2 mx-auto w-25 h-25" />
                <img src="~/images/qa.png" alt="Test driven" class="col-md-2 mx-auto w-25 h-25" />
                <img src="~/images/algorithm.png" alt="Data structure" class="col-md-2 mx-auto w-25 h-25" />
                <img src="~/images/relation.png" alt="Database relation" class="col-md-2 mx-auto w-25 h-25" />
            </div>
            <div class="row text-center my-3">
                <div class="col-2 mx-auto">
                    <h4>Agile</h4>
                    <p>Worked in a environment that requires agile development and follows strict time schedule to deliver quality work.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h4>Test Driven</h4>
                    <p>Always in mind of test driven development to create a bug-free application.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h4>Data Structure</h4>
                    <p>Strong knowledge in data structure and algorithm. Have analytical mindset and great critical thinking to solve complex problems.</p>
                </div>
                <div class="col-2 mx-auto">
                    <h4>SQL and Database</h4>
                    <p>Great understanding in data flow and entity relationship. Have worked with multiple databases and tables.</p>
                </div>
            </div>
        </div>
        <div class="row col-md-12 mx-auto" id="about-us">
            <div class="col-md-6 text-center p-sm-5 mb-5">
                <img src="~/images/profile.jfif" alt="Profile picture" class="rounded pl-sm-5 w-sm-50" id="profile-pic" />
            </div>
            <div class="col-md-5 p-sm-5">
                <p>
                    My name is Jin Kim and I am a software developer. Growing up, I would sit in front of the computer for hours and hours, wondering who is behind the screen making the game, I would often talk to the screen wondering if anyone will answer back. But I started to notice myself drawn to it more when my family was going through hardship. During that time I think I coped with it little better because of technology and gaming.  Game served as an escape of reality for me and I was drawn to it more and more.

                    I moved to Seattle to apply to dental school but I noticed myself being disconnected from that more and more as the time pass and I finally made a move to change my career into something that I am truly passionate about. Needless to say that my question has been answered about the man behind the screen and I want to build an application that not only is comprehensive and scalable, but helps to inspire kids like me in future.
                </p>
            </div>
        </div>
        <div class="container" id="projects">
            <div class="row text-center">
                <div class="col-md-4 my-3">
                    <div class="card pb-md-5">
                        <a href="https://bopeepmvc.azurewebsites.net/" target="_blank">
                            <img class="card-img-top" alt="Bored To Death" src="~/images/btd.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Bored To Death</h5>
                            <p class="card-text">
                                A web application that is designed using ASP.NET framework calls custom API server that utilize CRUD operation. The purpose of this website is to alleviate user who is experiencing boredom during the quarantine times.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card pb-md-5">
                        <a href="https://jumpstartcf.herokuapp.com/" target="_blank">
                            <img class="card-img-top" alt="JumpStart" src="~/images/jumpstart.png">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">JumpStart</h5>
                            <p class="card-text">A web application that incorporates node.js using MVC framework. Each search calls three API to different website and aggregates the result into random orders.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-3">
                    <div class="card pb-md-5">
                        <a href="https://e-commercemvc.azurewebsites.net/" target="_blank">
                            <img class="card-img-top" alt="E-Commerce" src="~/images/quikfix.jpg">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Quik Fix</h5>
                            <p class="card-text">E-commerce website that is created using ASP.NET framework. User are able to register and login securely to the website and purchase service of their choice securely.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container position-relative" id="contact">
            <form method="post" class="col-sm-12 mx-auto border border-muted rounded p-3 my-5">
                <div class="form-group row">
                    <label asp-for="EmailInfo.Email" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="EmailInfo.Email" class="form-control" required />
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Email"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailInfo.Name" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="EmailInfo.Name" class="form-control" required id="name-box"/>
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailInfo.Message" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <textarea class="form-control" asp-for="EmailInfo.Message" rows="5" required></textarea>
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Message"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary mx-auto" id="submit-button">Submit</button>
                </div>
            </form>
            <div class="modal position-absolute align-content-center" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="User-name-box"></h5>
                            <button type="button" class="closing close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Thank you for email, I will get back to you shortly!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success closing">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>


    @*bootstrap*@
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/app.js" ></script>
</body>