@page
@model Portfolio.Pages.IndexModel
@{
}

<!DOCTYPE html>
<head>
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="~/styles/reset.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/base.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/layout.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/module.css?t=@DateTime.Now.Ticks" type="text/css" />
    <link rel="stylesheet" href="~/styles/footer.css?t=@DateTime.Now.Ticks" type="text/css" />

</head>

<body>
    <header id="curtain-box">
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top" id="navvy">
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" id="nav-bard">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="#skills" class="nav-link">Skills</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#about-us" class="nav-link">About Me</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#projects" class="nav-link">Projects</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
            <div id="text-box">
                <h1>Jin Woo Kim</h1>
                <p>Full-Stack Developer</p>
                <p>Seattle, WA</p>
            </div>
    </header>
    <main>
        <h1 class="text-center font-weight-bold mt-5">SKILLS</h1>
        <div class="container" id="skills">
            <div class="row my-5">
                <div class="col-md-2 mx-auto w-25 h-25">
                    <button type="button" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Passionate about developing and delivering high quality code that is easy to read and maintain. Refactors code to improve the quality. Habitually applies agile development principles, displaying a solid understanding of agile processes, reports, and metrics, and how to use them." class="skill-button">
                        <img src="~/images/agile.png" alt="agile" class="img-fluid" />
                        <h4 class="text-center skill-header">Agile</h4>
                    </button>
                </div>
                <div class="col-md-2 mx-auto w-25 h-25">
                    <button type="button" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Relies on test driven process during the development cycle to deliver bug free application." class="skill-button">
                        <img src="~/images/qa.png" alt="Test driven" class="img-fluid" />
                        <h4 class="text-center skill-header">Test Driven Development</h4>
                    </button>
                </div>
                <div class="col-md-2 mx-auto w-25 h-25">
                    <button type="button" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Identifies and defines problems, extracting key information from data and develops workable solutions in order to isolate, test, and verify the problem and solution." class="skill-button">
                        <img src="~/images/algorithm.png" alt="Data structure" class="img-fluid" />
                        <h4 class="text-center skill-header">Analytical & Critical Thinking</h4>
                    </button>
                </div>
                <div class="col-md-2 mx-auto w-25 h-25">
                    <button type="button" data-placement="bottom" data-trigger="hover" data-toggle="popover" data-content="Great understanding in data flow and entity relationship. Have worked with multiple databases and tables on creating an seamless application." class="skill-button">
                        <img src="~/images/relation.png" alt="Database relation" class="img-fluid" />
                        <h4 class="text-center skill-header">SQL and Database</h4>
                    </button>

                </div>
            </div>
        </div>
        <h1 class="text-center font-weight-bold" id="about-us">ABOUT ME</h1>
        <div class="row col-lg-12 mx-auto mb-3">
            <div class="col-lg-6 text-center p-sm-5 mb-5">
                <img src="~/images/profile.jfif" alt="Profile picture" class="w-sm-50" id="profile-pic" />
            </div>
            <div class="col-lg-5">
                <p id="profile-info">
                    My name is Jin Kim and I am a software developer. Growing up, I would sit in front of the computer for hours and hours, wondering who is behind the screen making the game, I would often talk to the screen wondering if anyone will answer back. But I started to notice myself drawn to it more when my family was going through hardship. During that time I think I coped with it little better because of technology and gaming.  Game served as an escape of reality for me and I was drawn to it more and more.

                    I moved to Seattle to apply to dental school but I noticed myself being disconnected from that more and more as the time pass and I finally made a move to change my career into something that I am truly passionate about. Needless to say that my question has been answered about the man behind the screen and I want to build an application that not only is comprehensive and scalable, but helps to inspire kids like me in future.
                </p>
            </div>
        </div>
        <div id="projects" class="mt-3">
            <div>
                <h1 class="text-center font-weight-bold">PROJECTS</h1>
            </div>
            <div class="row text-center project-row">
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://jinkim.itch.io/kodekid" target="_blank">
                        <img class="card-img-top rounded" alt="Kode Kid" src="~/images/Kodekid.png">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title">Kode Kid</h5>
                                <p>Side scrolling 2D game built in Unity. A "student" is trying to make it to class, but he must face many obstacles and overcome puzzles and platforming to reach his goal.</p>
                                <p class="card-text">Tools Used: Unity, C#, Piskel</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://e-commercemvc.azurewebsites.net/" target="_blank">
                        <img class="card-img-top rounded" alt="E-Commerce" src="~/images/quikfix.jpg">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title w-100">Quik Fix</h5>
                                <p>E-commerce website that is created using ASP.NET framework. User are able to register and login securely to the website and purchase service of their choice securely.</p>
                                <p class="card-text">Tools Used: ASP.NET core, C#, MVC framework, BootStrap, jQuery, Identity</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://bopeepmvc.azurewebsites.net/" target="_blank">
                        <img class="card-img-top rounded" alt="Bored To Death" src="~/images/btd.jpg">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title">Bored To Death</h5>
                                <p>
                                    A web application that is designed using ASP.NET framework calls custom API server that utilize CRUD operation. The purpose of this website is to alleviate user who is experiencing boredom during the quarantine times.
                                </p>
                                <p class="card-text">Tools Used: ASP.NET core, C#, RESTful API, Entity Framework, MVC framework</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row text-center project-row">
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://jumpstartcf.herokuapp.com/" target="_blank">
                        <img class="card-img-top rounded" alt="JumpStart" src="~/images/jumpstart.png">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title">JumpStart</h5>
                                <p>A web application that incorporates node.js using MVC framework. Each search calls three API to different website and aggregates the result into random orders.</p>
                                <p class="card-text">Tools Used: Node.js, Javascript, jQuery, PSQL, HTML, CSS</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://jinwoov.github.io/Star-Hunt-Wars/index.html" target="_blank">
                        <img class="card-img-top rounded" alt="Star-Hunt-Wars" src="~/images/starhuntwar.png">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title">Star Hunt Wars</h5>
                                <p>A role play web application that stars "Mandalorian". User has options of different dialogue to decide if one belongs in Empire or Rebelion. </p>
                                <p class="card-text">Tools Used: Javascript, HTML, CSS</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 my-3 projectBox">
                    <a href="https://github.com/jinwoov" target="_blank">
                        <img class="card-img-top rounded" alt="Git-Hub" src="~/images/github.jpg">
                        <div class="position-absolute cardbody text-dark">
                            <div class="inner-container">
                                <h5 class="card-title">My GitHub</h5>
                                <p>My personal Github</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-10 position-relative mx-auto mt-5" id="contact">
            <div>
                <h1 class="text-center font-weight-bold">CONTACT ME</h1>
            </div>
            <form method="post" class="col-sm-12 mx-auto border border-secondary rounded p-4 my-5">
                <div class="form-group row">
                    <label asp-for="EmailInfo.Email" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="EmailInfo.Email" class="form-control" required />
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Email"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailInfo.Name" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <input asp-for="EmailInfo.Name" class="form-control" required id="name-box" />
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Name"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailInfo.Message" class="col-sm-12 col-form-label"></label>
                    <div class="col-sm-12">
                        <textarea class="form-control" asp-for="EmailInfo.Message" rows="5" required></textarea>
                        <span class="invalid-feedback" asp-validation-for="EmailInfo.Message"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary mx-auto" id="submit-button">Submit</button>
                </div>
            </form>
            <div class="modal position-absolute align-content-center" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="User-name-box"></h5>
                            <button type="button" class="closing close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Thank you for email, I will get back to you shortly!</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success closing">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-6 text-right p-3">
                    <a href="https://www.linkedin.com/in/jinkim808/" target="_blank">LinkedIn</a>
                </div>
                <div class="col-6 text-left p-3">
                    <a href="https://www.github.com/jinwoov" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
    </footer>

    @*bootstrap*@
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/js/app.js?t=@DateTime.Now.Ticks" ></script>
</body>